.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-color: rgba(255, 0, 0, 0.1);
  margin: 20px;
}

.column-first {
  flex: 4;
  display: flex;
}

.column-others {
  flex: 3;
  display: flex;
}

.small-blog {
  flex: 1;
  margin: 15px;
}

.medium-blog {
  flex: 1;
  margin: 15px;
}

.large-blog {
  flex: 3;
  margin: 15px;
}

.small-blog img {
  max-height: 5vh;
}

.large-blog img {
  max-height: 20vh;
}