.background {
  background: #121212;
  color: #f6f4f6;
  min-height: 100vh;
}
.container {
  padding: 20px 20vw;
}

@media (max-width: 700px) {
  .container {
    padding: 20px 5vw 60px 5vw;
  }
  .preview{
    display: block;
    margin-top: 20px !important;
  }
}
