.Logo {
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 200px;
}

.Logo img {
  height: 100%;
}

.image_full{
  display:block;
 }

.image_mobile{
 display:none;
}
@media (max-width: 640px) and (min-width: 320px){
  .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
  }
}
