.background{
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.pexels.com/photos/87739/pexels-photo-87739.jpeg?cs=srgb&dl=clouds-cloudscape-nature-87739.jpg"); */
    background: #121212;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    color: #F6F4F6;
    overflow-y: scroll;
    min-height: 100vh;
  }

.title{
    color: white;
    font-family: 'Hepta Slab', serif;
}
