.cards {
  display: flex;
  overflow-x: auto;
  align-items: center;
  flex-direction: row;
}
.card {
  flex: 0 0 auto;
  border-radius: 1rem;
  padding: 1.5rem 0;
  transition: 0.2s;
  z-index: 5;
  background: 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))';
  width: 40vw;
  background: #121212;
  border-radius: 5px;
  background-size: cover;
}
.card:not(:first-child) {
  margin-left: -10rem;
}
.card:not(:last-child):hover,
.card:not(:last-child):focus-within {
  transform: translateY(-1rem);
  ~ .card {
    transform: translateX(11rem);
  }
}
// .cardContainer {
//   width: 500px;
//   background: #121212;
//   border-radius: 5px;
//   box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
//   background-size: cover;
// }

@media (max-width: 800px) {
    .card{
      padding: 0.5rem 0;
      width: 70vw;
    }

    .card:not(:first-child) {
        margin-left: 0.2rem;
      }
      .card:not(:last-child):hover,
      .card:not(:last-child):focus-within {
        transform: translateY(0rem);
        ~ .card {
          transform: translateX(1rem);
        }
      }
}
