.background {
  background: #121212;
  min-height: 100vh;
}

.parent {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  cursor: pointer;
}

.child {
  flex: 1 0 30% !important;
  margin: 25px;
  background-size: cover;
  position: relative;
  float: left;
  /* change in bottom 4 lines, to be removed if didn't like new design */
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://scx1.b-cdn.net/csz/news/800/2017/1-meteor.jpg') no-repeat;
}
.title {
  color: white;
  padding: 30px 25px;;
  font-family: 'Hepta Slab', serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .parent {
    flex-direction: column;
  }

  .child {
    flex: 0 0 90%;
    margin: 0px;
    padding: 5px 5vw;
    border-radius: 0px;
    box-shadow: none;
    background-size: cover;
    background: none;
  }
}
