.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 30%;
  margin: 25px ;
  height: 400px;
  background-size: cover;
  position: relative;
  float: left;
  transition: transform .5s linear;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5
}

.fragment{
  height: 100%;
  width: 100%;
}
.child h2{
font-family: "Fjalla One", sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  transition: transform .5s linear;
}

.child:hover h2{
  font-size: 3.5rem;
}


@media (max-width: 800px) {
    .child{
        flex: 1 0 35%;
        height: 250px;
        margin: 16px 16px;
    }  
    .child h2{
        font-weight: 700;
        font-size: 1.8rem;
    }  
    .child:hover h2{
      font-size: 2.2rem;
    }
}
  