.menuStyle{
    flex-direction: 'row';
    flex: 1;
    justify-content: 'center';
    padding-left: 30px;
    border-width: 0px !important;
}

.blogcardContainer {
    height: 200px;
    margin: 30px;
  }

.title{
  font-family: 'Hepta Slab', serif;
}

@media(max-width: 800px){
    .blogcardContainer {
        /* height: 150px; */
        margin: 15px 0px;
      } 
    .menuStyle{
        padding-left: 15px;
    }
}