.menuStyle{
    flex-direction: 'row';
    flex: 1;
    justify-content: 'center';
    padding-left: 30px;
    border-width: 0px !important;
}

.blogcardContainer {
    /* height: 200px; */
    margin: 30px;
  }

.title{
  font-family: 'Hepta Slab', serif;
}

.error{
  padding-left: 30px;
  color: #F6F4F6;
  opacity: 0.75
}
.write{
  padding-left: 30px;
}

@media(max-width: 800px){
    .blogcardContainer {
        /* height: 150px; */
        margin: 15px 0px;
      } 
    .menuStyle{
        padding-left: 15px;
    }
    .error{
      padding-left: 15px;
    }
    .write{
      padding-left: 15px;
    }
}