.menuStyle{
    flex-direction: 'row';
    flex: 1;
    justify-content: 'center';
    padding-left: 30px;
}

.blogcardContainer {
    height: 200px;
    margin: 30px;
  }

@media(max-width: 800px){
    .blogcardContainer {
        height: 150px;
        margin: 15px;
      } 
    .menuStyle{
        padding-left: 15px;
    }
}